# Data Science Tool's and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Show in a table Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. C++

Some of the commonly used libraries used by Data Scientists include: 
1. TensorFlow
2. Keras 
3. Matplotlib
4. PyTorch
5. Scikit-learn

|Data Science Tools| 
|------------------|
|Seldon|
|Apache PredictionIO|
|Kubernetes|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print("This is a simple arithmetic expression to multiply then add integers")
(3*4)+5

This is a simple arithmetic expression to multiply then add integers

17

In [6]:
print("This will convert 200 minutes to hours by diving by 60")
x = 200 #200 minutes
hours = x/60
print ("200 minutes are " + str(hours) +" hours")

This will convert 200 minutes to hours by diving by 60
200 minutes are 3.3333333333333335 hours

## Author 
Yojanan Chavarria Huerta